<%- include ../header.ejs %>
<meta http-equiv="refresh" content="6">
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
	<div class="pt-4">
		<% if(analyses && analyses.length > 0){ %>
		<div class="table-responsive">
			<table class="table table-sm">
				<thead>
					<tr>
						<th>SHA-256</th>
						<th>Status</th>
						<th>Package</th>
						<th>Owner</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<% for(let i = 0; i < analyses.length; i++){ %>
					<tr>
						<td><a href="/analyse/<%= analyses[i].sha256 %>"><code><%= analyses[i].sha256 %></code></a></td>
						<td>
							<% if(analyses[i].state == 0){ %>
							<span class="badge badge-danger"><i class="fas fa-exclamation-triangle"></i> Error</span>
							<% }else if(analyses[i].state == 1){ %>
							<span class="badge badge-info"><i class="fas fa-user-shield"></i> Awaiting approval</span>
							<% }else if(analyses[i].state == 2){ %>
							<span class="badge badge-info"><i class="fas fa-cloud-upload-alt"></i> Queued</span>
							<% }else if(analyses[i].state == 3){ %>
							<span class="badge badge-warning"><i class="fas fa-cog fa-spin"></i> In progress</span>
							<% }else if(analyses[i].state == 4){ %>
							<span class="badge badge-success"><i class="fas fa-check-circle"></i> Completed</span>
							<% }else{ %>
							<span class="badge badge-danger"><i class="fas fa-question-circle"></i> Unknown</span>
							<% } %>
						</td>
						<td><code><%= analyses[i].packageName %></code></td>
						<td><a href="/admin/users/<%= analyses[i].owner._id %>"><%= analyses[i].owner.username %></a> <%- gPermBadge(analyses[i].owner.tags.includes("administrator"), false) %> <%- gBannedBadge(analyses[i].owner.tags.includes("banned"), false) %></td>
						<td>
							<a class="btn btn-sm btn-outline-danger" href="/admin/deleteanalysis/<%= analyses[i].sha256 %>">Delete</a>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<% for(let i = 0; i < Math.ceil(analysesCount/perPage); i++){ %>
				<li class="page-item <%= Math.floor(skipVal/perPage) == i ? 'active' : '' %>"><a class="page-link" href="?startAt=<%= i * perPage%>"><%= i+1 %></a></li>
				<% } %>
			</ul>
		</nav>
		<% }else{ %>
		<h1 class="text-center">There are no analyses in the database!</h1>
		<% } %>
	</div>
</main>
<%- include ../footer.ejs %>