<%- include ../header.ejs %>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
	<div class="pt-4">
		<div class="table-responsive">
			<table class="table table-sm">
				<thead>
					<tr>
						<th>Username</th>
						<th>Email</th>
						<th>Permissions</th>
						<th>Account status</th>
						<th># of analyses</th>
					</tr>
				</thead>
				<tbody>
					<% for(let i = 0; i < users.length; i++){ %>
					<tr>
						<td><a href="/admin/users/<%= users[i]._id %>"><%= users[i].username %></a></td>
						<td><%= users[i].email %></td>
						<td><%- gPermBadge(users[i].tags.includes("administrator"), false) %></td>
						<td><%- gBannedBadge(users[i].tags.includes("banned"), false) %></td>
						<td><%= users[i].count %></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<% for(let i = 0; i < Math.ceil(usersCount/perPage); i++){ %>
				<li class="page-item <%= Math.floor(skipVal/perPage) == i ? 'active' : '' %>"><a class="page-link" href="?startAt=<%= i * perPage%>"><%= i+1 %></a></li>
				<% } %>
			</ul>
		</nav>
	</div>
</main>
<%- include ../footer.ejs %>